<!DOCTYPE html>
<html>
  <head>
    <title>Delloite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="animatedParent animateOnce">
      <section class="top-bar animated fadeInDownShort delay-250">
        <div class="container-fluid">
            <a href=""><%= image_tag 'logo-white.png', class: "logo" %></a>
          <div class="hamburger hamburger--spin">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <nav class="main-navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Our Promise to you</a></li>
        <li><%= link_to 'Log Out', destroy_user_session_path %></li>

      </ul>
    </nav>
    <div class="main-content">
      <section class="panel first-block">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </section>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </div>
  </body>
</html>
